@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		/* TODO: review values of the variables primary/secondary */
		--color-base-dark: 13 13 13; /* #0D0D0D */
		--color-dark-gray: 25 25 25; /* #191919 */
		--color-medium-gray: 32 32 32; /* #202020 */
		--color-light-gray: 153 153 153; /*  #999999 */
		--color-cool-gray: 156 163 175; /* #9CA3AF */
		--color-white: 255 255 255;	/* #FFFFFF */
		--color-primary: 65 54 241; /* #4136F1 */
		--color-secondary: 135 67 255; /* #8743FF */
		--color-labels: 239 239 239; /* #EFEFEF */
		--color-border: 240 238 237; /* #F0EEED */
		--color-tertiary: 219 217 251; /* #DBD9FB */
		--color-grantee-item: 117 112 141; 	
		
		/* HP variables to rearrange */
		--color-gradient-1: 117 117 117; /* #757575 */
		--color-gradient-2: 117 112 141; /* #75708D */
		--color-innovate: 31 31 38; /* #1F1F26 */
	}
}


html {
	overflow-y: scroll;
	scrollbar-gutter: stable;
}


.hide-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

.is-active {
	@apply bg-gradient-to-r from-white/100 text-black to-light-gray
}

/* remove padding in storybook to easily work on the homepage */
.sb-main-padded {
    padding: 0 !important; 
}

/* TODO: refactor global css to include multiple different stylesheets */
.swiper-slide {
	@apply h-auto
}

.swiper {
	@apply px-5 -mx-5
}

.testimonial-swiper .swiper-pagination {
	@apply relative bottom-auto top-auto text-left my-12
}

.testimonial-swiper .swiper-button-prev, 
.testimonial-swiper .swiper-button-next {
	@apply  bg-white/20 rounded-full w-12 h-12 flex items-center justify-center z-20
}

.testimonial-swiper .swiper-button-next {
	@apply right-5 bottom-8 top-auto
}

.testimonial-swiper .swiper-button-prev {
	@apply right-20 left-auto bottom-8 top-auto
}

.testimonial-swiper .swiper-pagination-bullet {
	@apply bg-white/80
}