@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* TODO: review values of the variables primary/secondary */
    --color-bg-app: 7 7 8; /* #070708 */
    --color-base-dark: 13 13 13; /* #0D0D0D */
    --color-dark-gray: 25 25 25; /* #191919 */
    --color-medium-gray: 32 32 32; /* #202020 */
    --color-light-gray: 153 153 153; /*  #999999 */
    --color-cool-gray: 156 163 175; /* #9CA3AF */
    --color-white: 255 255 255; /* #FFFFFF */
    --color-primary: 65 54 241; /* #4136F1 */
    --color-secondary: 135 67 255; /* #8743FF */
    --color-labels: 239 239 239; /* #EFEFEF */
    --color-border: 240 238 237; /* #F0EEED */
    --color-tertiary: 219 217 251; /* #DBD9FB */
    --color-grantee-item: 117 112 141;

    /* HP variables to rearrange */
    --color-gradient-1: 117 117 117; /* #757575 */
    --color-gradient-2: 117 112 141; /* #75708D */
    --color-innovate: 31 31 38; /* #1F1F26 */
  }
}

html {
  scrollbar-gutter: stable;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.is-active {
  @apply bg-gradient-to-r from-white/100 text-black to-light-gray;
}

/* remove padding in storybook to easily work on the homepage */
.sb-main-padded {
  padding: 0 !important;
}

/* Marquee styles */
.marquee {
  --gap: 1px;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  gap: var(--gap);
  justify-content: space-around;
  min-width: 100%;
}
.marquee__item {
	width: 115px;
}
@screen md {
  .marquee__item {
	width: 170px;
  }
}
@screen lg {
	.marquee__item {
	  width: 228px;
	}
  }
/* marquee amimation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

/* Enable animation */
.enable-animation .marquee__content {
	animation: scroll 30s linear infinite;
}


.pinned > div{
  @apply max-h-[65px];
}


.stack {
	display: grid;
	grid-template-columns: 1fr;
}

.stack span {
	grid-row-start: 1;
	grid-column-start: 1;
	--stack-height: calc(100% / 3 - 1px);
	--inverse-index: calc(calc(3 - 1) - var(--index));
	--clip-top: calc(var(--stack-height) * var(--index));
	--clip-bottom: calc(var(--stack-height) * var(--inverse-index));
	clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
	animation: stack 340ms cubic-bezier(.46, .29, 0, 1.24) 1 backwards calc(var(--index) * 120ms), glitch 1s ease infinite 1s alternate-reverse;
}

.stack span:nth-child(odd) { --glitch-translate: 8px; }
.stack span:nth-child(even) { --glitch-translate: -8px; }

@keyframes stack {
	0% {
		opacity: 0;
		transform: translateX(-50%);
		text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
	}
	60% {
		opacity: 0.5;
		transform: translateX(50%);
	}
	80% {
		transform: none;
		opacity: 1;
		text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
	}
	100% {
		text-shadow: none;
	}
}

@keyframes glitch {
	0% {
		text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
		transform: translate(var(--glitch-translate));
	}
	2% {
		text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
	}
	4%, 100% { 
		text-shadow: none; 
		transform: none; 
	}
}